{% extends "layouts/main.html" %}

{% block pageTitle %}
  Find and update company information
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "Alpha - Version v2"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Find and update company information <span class="govuk-caption-xl"></span>
      </h1>

      <a href="scenario" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Prototype data</h2>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Authentication code
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                123456
              </dt>
              <dd class="govuk-summary-list__value">
                User has not been verified with the email they signed 
                in with, moves to binding journey
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Personal code
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                111-2222-3333
              </dt>
              <dd class="govuk-summary-list__value">
                Binding failed journey
              </dd>
            </div>
          </dl>
        </div>
      </div>


      <h2 class="govuk-heading-l">Individual screen links</h2>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>
          <a class="govuk-link" href="search-register">Start - Search register</a>
        </li>   
        <li>
          <a class="govuk-link" href="sign-in">Sign in</a>
        </li>   
        <li>
          <a class="govuk-link" href="search-signed-in">Search register - signed in</a>
        </li>   
        <li>
          <a class="govuk-link" href="search-results">Search results</a>
        </li>   
        <li>
          <a class="govuk-link" href="chs-company-overview">Company overview</a>
        </li>   
        <li>
          <a class="govuk-link" href="auth-code">Auth code</a>
        </li>   
        <li>
          <a class="govuk-link" href="chs-file-accounts">Company overview - Filing</a>
        </li>   
        <li>
          <a class="govuk-link" href="chs-presenter-type">Presenter type radio</a>
        </li>   
        <li>
          <a class="govuk-link" href="chs-presenter-statements">Confirm presenter statements</a>
        </li>   
        <li>
          <a class="govuk-link" href="change-address">Change address</a>
        </li>   
        <li>
          <a class="govuk-link" href="cannot-file">Cannot file</a>
        </li>
        <li>
          <a class="govuk-link" href="have-you-verified">Have you verified</a>
        </li>  
        <li>
          <a class="govuk-link" href="verify-your-identity">Verify your identity</a>
        </li>  
        <li>
          <a class="govuk-link" href="verified-details">Verified details</a>
        </li>  
        <li>
          <a class="govuk-link" href="binding-success">Binding success</a>
        </li>  
        <li>
          <a class="govuk-link" href="binding-fail-locked">Binding fail locked</a>
        </li>  
      </ul>


      <h2 class="govuk-heading-m">Example statement screens</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link" href="examples/example-chs-presenter-statements">Tested statement screen</a>
        </li>
        <li>
          <a class="govuk-link" href="examples/leg-chs-presenter-statements">Merged statements - option 1</a>
        </li>
        <li>
          <a class="govuk-link" href="examples/merged-chs-presenter-statements">Merged statements - option 2</a>
        </li>
        <li>
          <a class="govuk-link" href="examples/separate-chs-presenter-statements">Separate statements</a>
        </li>
        </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Changes this version</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          Presenter scenarios added
        </li>
        <li>
          ACSP name, number and email added to statement pages for acsp filing
        </li>        <li>
          Name, personal code and email added to statement pages for individual filling
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">User research</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link" target="_blank" href="https://companieshouse-my.sharepoint.com/personal/ssingh1_companieshouse_gov_uk/_layouts/15/onedrive.aspx?e=5%3ada6304704e634ce4baf45f0fb84ef632&sharingv2=true&fromShare=true&at=9&CID=490304b2-d282-48ab-b376-c3be9e70f68d&id=%2fpersonal%2fssingh1_companieshouse_gov_uk%2fDocuments%2fPresenters_Alpha_UserSessions%2fRound1_UserSessions&FolderCTID=0x012000B8D5B34B37A5F34F81196BC761DC08CB&view=0">Round 1</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">Journey flow</h2>
      <p class="govuk-body"><a class="govuk-link" target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1784273714212/411259a007a56cd5c9b80419cc7c853658c3475a">Flow diagrams</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">
        IDV services
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Links</th>

            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://idv-prototype.herokuapp.com/">Register as an Authorised Corporate Service Provider</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://prove-your-identity-prototype.herokuapp.com/">How people verify prototype</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://submit-psc-statement-prototype-8cf558a5f32b.herokuapp.com/">Provide identity verification details for a PSC or relevant legal entity</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>




        
    </div>
  </div>





{% endblock %}
